In [ ]:
!pip install pandas_datareader

In [6]:
import pandas as pd
from pandas_datareader import data
import numpy as np 
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import r2_score
from sklearn.datasets import fetch_california_housing
from sklearn.model_selection import GridSearchCV

In [8]:
housing = fetch_california_housing()
df = pd.DataFrame(housing.data)

In [9]:
df.head()

        0     1         2         3       4         5      6       7
0  8.3252  41.0  6.984127  1.023810   322.0  2.555556  37.88 -122.23
1  8.3014  21.0  6.238137  0.971880  2401.0  2.109842  37.86 -122.22
2  7.2574  52.0  8.288136  1.073446   496.0  2.802260  37.85 -122.24
3  5.6431  52.0  5.817352  1.073059   558.0  2.547945  37.85 -122.25
4  3.8462  52.0  6.281853  1.081081   565.0  2.181467  37.85 -122.25

In [10]:
df.sample(5)

           0     1         2         3       4         5      6       7
1571  6.5617  30.0  7.200368  1.009191  1330.0  2.444853  37.83 -122.01
7560  2.8793  36.0  4.941558  1.080087  1836.0  3.974026  33.91 -118.20
9117  3.7464  29.0  4.906832  0.983437  1746.0  3.614907  34.58 -118.13
3543  7.1670  20.0  7.728653  1.073055  3562.0  3.379507  34.26 -118.59
4251  2.9760  52.0  4.743590  1.029304   578.0  2.117216  34.10 -118.36